click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
packaging==16.8
pip-review==1.0
psycopg2==2.7.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
six==1.11.0
Werkzeug==0.13
