blinker==1.9.0
Flask==3.0.3
Flask-Cors==6.0.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==22.0
psycopg2-binary==2.9.11
pyparsing==3.3.1
python-dateutil==2.9.0.post0
requests==2.32.5
sentry-sdk==2.48.0
six==1.17.0
Werkzeug==3.1.4
jwcrypto==1.5.6
pytest==7.2.0
PyYAML==6.0.3
python-string-utils==1.0.0
amsterdam-schema-tools==8.0.0rc7
cachetools==5.3.0
azure-identity==1.25.1
azure-monitor-opentelemetry==1.6.10
# The packages below are indirect dependencies that have minimum versions specified
# to avoid vulnerabilities
idna>=3.7
uwsgi-readiness-check==0.2.0
uwsgitop==0.12.0
