blinker==1.6.2
Flask==2.3.2
Flask-Cors==4.0.1
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.2
packaging==22.0
psycopg2-binary==2.9.9
pyparsing==2.4.6
python-dateutil==2.8.1
requests==2.32.3
sentry-sdk==1.14.0
six==1.12.0
Werkzeug==3.0.3
jwcrypto==1.5.6
pytest==7.2.0
PyYAML==6.0.1
python-string-utils==1.0.0
amsterdam-schema-tools==5.26.0
cachetools==5.3.0
azure-identity==1.16.1
azure-monitor-opentelemetry==1.5.0
# The packages below are indirect dependencies that have minimum versions specified
# to avoid vulnerabilities
idna>=3.7
